
.navbar {
    background-color: transparent; 
    padding: 1rem 0;
  }
  
  .navbarBrand {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .navLink {
    color: #000;
    font-weight: 500;
    margin-right: 1rem;
  }
  li .active{
    font-weight: bold;
  }
  
  .navLinkHover:hover {
    color: #0056b3; 
  }
  
  .dropdownMenu {
    min-width: 10rem;
  }
  
  @media (max-width: 680px) {
    .navbarNav {
      text-align: center;
    }
  }
  